/* CSS */
.config_left {
  margin-left: 11vh !important;
}

html , body {
  font-family: sans-serif;
}

.card.card-body {
  word-wrap: inherit;
}

.theme-light .ss-card-container .ss-card:not(.ss-active-card):not(.ss-locked-card):hover h3 {
  color: #4B4B4B !important
}

/* .nav-item.nav-tooltip .tooltip-container:before {
  content: "triangle_left";
} */

.RightAligned .title-wrapper:after {
  content: "triangle_bottom";
}

.RightAligned .custom-filter .title-container:after {
  content: "triangle_bottom";
}
.Calendar.custom-col-wid .QlikFilter>div .qv-collapsed-listbox:after {
  content: "triangle_bottom";
}

/* .RightAligned .icon-container .icon {
  right: 3px;
  margin: 0;
} */