.giv__infoSnap .lui-popover-container .lui-popover {
    height: 80vh;
    width: auto;

}

@media only screen and (max-width:915px) {
    .Selection .select__rightOption .open-info {
        margin-left: -60pt;
    }

    [class~=lui-popover-container] [class~=lui-popover] {
        width: 7.239583333in;
    }
}

@media only screen and (max-width:710px) {
    [class~=lui-popover-container] [class~=lui-popover] {
        width: 40.3125pc;
    }
}

.custom-switch .custom-control-label:after {
    top: calc(.25rem + 2.2px);
    left: calc(-.85rem + 1px);
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
    border-radius: .5rem;
}

.giv__infoSnap .lui-button.custom__btn {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 60px;
    padding: 8px 8px;
    /* color: #359fb0; */
    color: #6C6A6C;
    border: none;
    margin-left: 4px;
    margin-right: 4px;
    box-sizing: border-box;
    height: 32px;
    line-height: 16px;
    min-width: 24px;
    font-size: 14px;
    border-radius: 3px;
    max-width: 124px;
    /* padding: 8px; */

    /* top: 8px; */
}

.giv__infoSnap .lui-button.custom__btn:hover {
    margin-left: 4px;
    margin-right: 4px;
    background-color: #f0f0f0;
}

.giv__infoSnap .lui-button svg {
    width: 25px;
    fill: #359fb0;
}

.giv__infoSnap .lui-button.btn--active {
    background-color: #f0f0f0;
    /* color: #ffffff; */
    color: #6C6A6C;
}

.giv__infoSnap .lui-button.btn--active svg {
    /* fill: #ffffff; */
    fill: #6C6A6C;
}

.giv__infoSnap .lui-popover__arrow--top {
    left: 55%;
}

.lui-popover .lui-popover__arrow--top:after {
    border-bottom-color: #359fb0;
}

.lui-popover__arrow--top:after {
    bottom: 0px;
}

.giv__infoSnap ::after,
.giv__infoSnap ::before {
    box-sizing: border-box;
}

.qv-subtoolbar-button.toggle-button.borderbox {
    display: flex;
}

.giv__infoSnap .form-control {
    width: 80% !important;
}

@media (min-width: 576px) {
    .giv__infoSnap .col-sm-6 {
        flex: 0 0 40% !important;
    }
}

.qs-toolbar .lui-button .lui-button__text {
    max-width: 130px;
}

.giv__infoSnap .lui-button.custom__btn:focus {
    border: none;
    box-shadow: none;
}

/* .InfoSnap .content-body tbody {
    height: 415px;
} */